body {
    font-family: Tahoma;
    font-size: 11px;
}
.par {
    margin-left: 370px;
    margin-right: 455px;
}
h1 {
    text-transform: uppercase;
    margin-left: 150px;

}
ul li {
    font-family: consolas;
}
.stl1 {
    color: darkgreen;
}
.stl2 {
    color: red;
}
.list1 {
    list-style-type: circle;
}
img {
    height: 479px;
    width: 356px;
}